@model ForumProject.Models.Post.NewPostModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create New Post in @Model.forumName thread.</h2>

<form asp-action="addPost" method="post" id="addPostForm">
    <div class="form-group">
        <label asp-for="title"></label>
        <input asp-for="title" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="content"></label>
        <textarea asp-for="content" class="form-control"></textarea>
    </div>
    <button type="submit" id="submitPostBtn" class="btn btn-submitPost">Submit</button>
    <input asp-for="forumId" type="hidden"/>
</form>
