@model ForumProject.Models.Post.NewPostModel
@{
    ViewData["Title"] = "Create";
}

<div class="postCreatePageContent">
    <h2>Create New Post in @Model.forumName thread.</h2>

    <form asp-action="addPost" method="post" id="addPostForm">
        <div class="form-group">
            <label asp-for="title">Title:</label>
            <input asp-for="title" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="content">Content:</label>
            <textarea asp-for="content" class="form-control"></textarea>
        </div>
        <button type="submit" id="submitPostBtn" class="btn">Submit</button>
        <input asp-for="forumId" type="hidden" />
    </form>
</div>
