body {
    background-image: url("/images/theme/bg1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.navbar {
    box-shadow: 0 5px 4px -6px #000;
    background-color: black !important;
}

.navLogo {
    background-image: url("/images/theme/navbarLogo.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
    padding-right: 16px;
    width: 60px;
    height: 60px;
    margin-right: 12px;
}

.navbar li {
    font-weight: bold;
}

.sectionHeader {
    background-color: rgba(0,0,0,0.9);
    padding: 8px 0 24px 24px;
}

.sectionHeading {
    color: white;
    font-size: 1.3em;
    font-family: 'PT Serif';
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.postHeading {
    color: white;
    font-size: 1.3em;
    font-family: 'PT Serif';
    padding: 16px 0 16px 0;
}

.sectionInfo {
    height: 400px;
    background-color: white;
}

/* Front page heading */
.frontPageSplash {
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    background-repeat: no-repeat;
    height: auto;
    padding: 20px;
}

.frontPageLearn {
    text-align: center;
    opacity: 1;
    font-family: 'PT Serif';
    color: white;
}

.frontPageHeading {
    text-align: center;
    font-size: 3.2em;
}

.frontPageSubHeading {
    font-weight: bold;
    font-size: 2em;
}

.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569D5;
    font-family: 'PT Serif';
}

.homeSearch {
    width: 50%;
    margin-top: 8px;
    background-color: grey;
    padding: 8px;
    border: 0px;
    height: 1.8em;
    font-size: 2.1em;
    font-family: 'PT Serif';
    font-weight: bold;
    transition: ease-in 0.2s;
}

    .homeSearch:focus {
        border: none !important;
        outline: none !important;
        transition: ease-in 0.2s;
        color: white;
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0 5px 4px -6px #000;
    }

/* Front page content */

.frontPageContent {
    background-color: rgba(255, 255, 255, 0.9);
}

.postCreatePageContent {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top:40px;
    padding: 16px;
}

#latestPosts {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
}

/*Post page*/

.postTitle {
    font-family: 'PT Serif';
    font-weight: bold;
}

.postSubTitle {
    color: #888;
    font-family: 'PT Serif';
    font-size: 0.8em;
}

.postData {
    display: inline-block;
}

.postDate {
    color: #888;
    font-family: 'PT Serif';
    font-size: 0.8em;
}

.postLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}

.postAuthorContainer{
    padding: 12px;
    color: #444;
    font-family: 'PT Serif';
    width: 190px;
}

.postIndexTitle{
    font-size: 1.5em;
}
.postContentContainer{
    font-family: 'PT Serif';
    color:#222;
    padding:22px;
    border-left:1px solid #ddd;
}

.postHeader{
    margin-top: 60px;
    padding: 8px 0px 24px 24px;
}
/* Buttons */
.btn{
    background-color : #555;
    color: #fff !important;
    transition : ease-in 0.1s;
    border-radius:0px !important;
}
    .btn:hover {
        transition:ease-in 0.1s;
        background-color: #888 !important;
    }
#headingBtn{
    float:right;
    margin-right:20px;
}

.btn-search{
    background : none !important;
    border : none;
    padding : 0 !important;
    font : inherit;
}

#postIndexContent{
    background-color: white;
    border-bottom : 1px solid #ddd;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2) 0 6px 6px rgba(0,0,0,0.3);
}

/* Forum index */
#forumIndexTable td {
    background-color: rgba(255, 255, 255, 0.9);
}

#forumIndexTable tr:hover {
    background-color: rgba(0, 116, 238, 1);
}

.forumData {
    display: inline-block;
}

.forumTitle {
    font-family: 'PT Serif';
    font-weight: bold;
    font-size: 1.1em;
}

.forumSubTitle {
    color: #888;
    font-family: 'PT Serif';
    font-size: 0.8em;
}

.forumDescription {
    color: #555;
    font-family: 'PT Serif';
}

.forumLogo {
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border: 1px solid #555;
    background-size: 100%;
}

.forumPostCount {
    color: #888;
    font-family: 'PT Serif';
    font-size: 0.9em;
}


#forumIndexContent {
    padding-bottom: 60px;
    background-color: white;
}

.noPosts {
    text-align: center;
    padding-top: 30px;
    font-family: 'PT Serif';
    color : white;
}

.createPostSection {
    background-color: #fff;
    padding: 24px;
}

/*wrapping element*/
.body-content {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}


.sectionDescription {
    color: #EEE;
}

.replyOriginalPost {
    color: white;
    font-family: 'PT Serif';
}

.replyContent {
    font-family: 'PT Serif';
    color: black;
    padding: 22px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: white
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
